.id, .edit, .delete, .aptitude, .bloodFactor, .bloodType {
    width: 5%;
}

.bloodFactor, .bloodType {
    text-align: left;
}

.city, .firstName {
    width: 10%;
}

.lastName {
    width: 20%;
}

.mothersName {
    width: 30%;
}
