<div class="container">
  <mat-card class="card-1">
    <mat-card-title>
      <span>Lista de Modelos de Mensagem</span>
    </mat-card-title>

    <mat-card-content>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Registro </th>
          <td class="id" mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
          <td class="title" mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef> Conteúdo </th>
          <td class="content" mat-cell *matCellDef="let element"> {{element.content}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td class="edit" mat-cell *matCellDef="let element">
            <button mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Excluir </th>
          <td class="delete" mat-cell *matCellDef="let element">
            <button mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator class="mat-elevation-z2"
          showFirstLastButtons
          [pageSize]="10"
          [hidePageSize]="true">
      </mat-paginator>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">
          <mat-icon>arrow_back</mat-icon>
          <span>Voltar</span>
        </button>
    </mat-card-actions>
  </mat-card>
</div>