<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="fa fa-tree fa-lg"></i> Salsa</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Informações e ações
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-people"></i> Doadores</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/donator-search']"><i class="fa fa-search fa-lg"></i> Busca</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/donator-form']"><i class="fa fa-address-book fa-lg"></i> Cadastro</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/donator-statistics']"><i class="fa fa-flask fa-lg"></i> Estatísticas</a>
          </li>-->
        </ul>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-envelope"></i> Mensagens</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/send']"><i class="fa fa-telegram fa-lg"></i> Enviar SMS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/sent']"><i class="fa fa-history fa-lg"></i> Histórico de envios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/model-list']"><i class="fa fa-edit fa-lg"></i> Modelos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/model-form']"><i class="fa fa-file-word-o fa-lg"></i> Cadastro de Modelos</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/donator-statistics']"><i class="fa fa-bar-chart fa-lg"></i> Estatísticas</a>
          </li>-->
        </ul>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/donator-statistics']"><i class="fa fa-bar-chart fa-lg"></i> Estatísticas</a>
      </li>
      -->
      <!--
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-equalizer"></i> Configurações</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/about']"><i class="fa fa-at fa-lg mt-4"></i> Sobre</a>
          </li>
        </ul>
      </li>
      
      <li class="divider"></li>
      <li class="nav-title">
        Extras
      </li>
      <li class="nav-item nav-dropdown" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Pages</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/login']"><i class="icon-star"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/register']"><i class="icon-star"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/404']"><i class="icon-star"></i> Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/500']"><i class="icon-star"></i> Error 500</a>
          </li>
        </ul>
      </li>
      -->
    </ul>
  </nav>
</div>
