<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="tooltips" href="#">
                <strong>Lista de doadores
                    <div class="fa fa-question-circle fa-lg mt-2"></div>
                </strong>
                <span>É preciso clicar no doador para habilitar a edição e exclusão! <div class="fa fa-smile-o fa-lg mt-1"></div></span>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <table class="table table-outline mb-0 table-hover table-responsive donators mx-auto">
                    <thead>
                        <tr class="table-light">
                            <th>Registro</th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Mãe</th>
                            <th>Cidade</th>
                            <th>Tipo sanguíneo</th>
                            <th>Fator Rh</th>
                            <th>Aptidão</th>
                            <th>Editar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let donator of (donators | async) | paginate: { itemsPerPage: 7, currentPage: page }" (click)="onSelect(donator)"
                        [class.selected]="donator === selectedDonator">
                        <tr>
                            <td class="badge badge-secondary">
                                {{donator.id}}
                            </td>
                            <td>
                                {{donator.firstName}}
                            </td>
                            <td>
                                {{donator.lastName}}
                            </td>
                            <td>
                                {{donator.mothersName}}
                            </td>
                            <td>
                                {{donator.city}}
                            </td>
                            <td>
                                {{donator.bloodType}}
                            </td>
                            <td>
                                {{donator.bloodFactor}}
                            </td>
                            <td *ngIf="transAptitude(donator.aptitude);else other">
                                <span class="badge badge-success">Apto</span>
                            </td>
                            <ng-template #other>
                                <td>
                                    <span class="badge badge-danger">Inapto</span>
                                </td>
                            </ng-template>
                            <td>
                                <button (click)="gotoDetail()" [disabled]="willButtonBeShown(donator)" class="btn btn-warning btn-sm fa fa-wrench fa-lg mt-1"
                                    type="button"></button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm fa fa-trash fa-lg mt-1" [disabled]="willButtonBeShown(donator)" (click)="delete(donator); $event.stopPropagation()"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
        <div class="card-footer">
            <button (click)="goBack()" type="reset" class="btn btn-sm btn-danger">
                <i class="fa fa-ban"></i> Voltar</button>
        </div>
    </div>
</div>