<div class="animated fadeIn">
    <div class="card-columns cols-9">
        <!-- First chart -->
        <div class="card">
            <div class="card-header">
                Sexo
            </div>
            <div class="card-body">
                <div class="chart-wrapper">
                    <canvas baseChart class="chart" [data]="sexChartData" [labels]="sexChartLabels" [chartType]="sexChartType" [colors]="colorsForTwo"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <!-- Second chart -->
        <div class="card">
            <div class="card-header">
                Aptidão
            </div>
            <div class="card-body">
                <div class="chart-wrapper">
                    <canvas baseChart class="chart" [data]="aptitudeChartData" [labels]="aptitudeChartLabels" [chartType]="aptitudeChartType"
                        (chartHover)="chartHovered($event)" [colors]="colorsForTwo" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <!-- Third chart-->
        <div class="card">
            <div class="card-header">
                Tipo sanguíneo
            </div>
            <div class="card-body">
                <div class="chart-wrapper">
                    <canvas baseChart class="chart" [data]="bloodChartData" [labels]="bloodChartLabels" [chartType]="bloodChartType" (chartHover)="chartHovered($event)"
                        [colors]="colorsForFour" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <!-- Fourth chart-->
        <div class="card">
            <div class="card-header">
                Tipo sanguíneo com fator Rh
            </div>
            <div class="card-body">
                <div class="chart-wrapper">
                    <canvas baseChart class="chart" [data]="bloodChartRhData" [labels]="bloodChartRhLabels" [chartType]="bloodChartRhType" (chartHover)="chartHovered($event)"
                        [colors]="colorsForEight" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <!-- Fifth chart-->
        <div class="card">
            <div class="card-header">
                Fator RH
            </div>
            <div class="card-body">
                <div class="chart-wrapper">
                    <canvas baseChart class="chart" [data]="rhChartData" [labels]="rhChartLabels" [chartType]="rhChartType" [colors]="colorsForTwo"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <!-- Last chart-->
        <div class="card">
            <div class="card-header">
                Aptidão por sexo
            </div>
            <div class="card-body">
                <div class="chart-wrapper">
                    <canvas baseChart class="chart" [data]="aptitudeWithSexChartData" [labels]="aptitudeWithSexChartLabels" [chartType]="aptitudeWithSexChartType"
                        (chartHover)="chartHovered($event)" [colors]="colorsForFour" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-white bg-success text-center mx-auto">
        <div class="card-header">
            <strong>Você sabia?</strong>
        </div>
        <div class="card-body">
            <blockquote class="card-bodyquote">
                <p>Ao clicar nas legendas dos gráficos, você pode habilitar ou desabilitar a exibição do elemento que clicou!</p>
            </blockquote>
        </div>
    </div>
</div>