<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="tooltips" href="#">
                <strong>Lista de modelos de mensagem
                    <div class="fa fa-question-circle fa-lg mt-2"></div>
                </strong>
                <span>É preciso clicar no modelo para habilitar a edição e exclusão!
                    <div class="fa fa-smile-o fa-lg mt-1"></div>
                </span>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <table class="table table-outline mb-0 table-hover table-responsive messages mx-auto">
                    <thead>
                        <tr class="table-light">
                            <th>Registro</th>
                            <th>Título</th>
                            <th>Corpo</th>
                            <th>Editar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let message of messages | paginate: { itemsPerPage: 7, currentPage: page }" (click)="onSelect(message)" [class.selected]="message === selectedMessage">
                        <tr>
                            <td class="badge badge-secondary">
                                {{message.id}}
                            </td>
                            <td>
                                {{message.title}}
                            </td>
                            <td>
                                {{message.body}}
                            </td>
                            <td>
                                <button (click)="gotoDetail()" [disabled]="willButtonBeShown(message)" class="btn btn-warning btn-sm btn-sm fa fa-wrench fa-lg mt-1"
                                    type="button"></button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm fa fa-trash fa-lg mt-1" [disabled]="willButtonBeShown(message)" (click)="delete(message); $event.stopPropagation()"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
        <div class="card-footer">
            <button (click)="goBack()" type="reset" class="btn btn-sm btn-danger">
                <i class="fa fa-ban"></i> Voltar</button>
        </div>
    </div>
</div>