<div class="animated fadeIn">
    <div class=row>
        <div class="col-md-6">
            <!-- Outer card -->
            <div class="card">
                <div class="card-header">
                    <strong>Formulário</strong> de Modelo SMS
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <!-- Start of the first row-->
                        <div class="row">
                            <div class="col-sm-6 col-md-9">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Identificação</strong>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input">Titulo do modelo</label>
                                            <div class="col-md-9">
                                                <input type="text" id="title" [(ngModel)]="message.title" name="title" class="form-control" placeholder="Insira um título bem descritivo">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input">Corpo da mensagem</label>
                                            <div class="col-md-9">
                                                <textarea type="text" [(ngModel)]="message.body" id="body" name="body" rows="5" class="form-control" placeholder="Escreva a mensagem aqui!"></textarea>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of first card -->
                        </div>
                        <!-- End of first row -->
                    </form>
                </div>
                <!-- End of outer card -->
                <div class="card-footer">
                    <button (click)="onSubmit()" type="submit" class="btn btn-sm btn-success">
                        <i class="fa fa-dot-circle-o"></i> Cadastrar!</button>
                    <button (click)="goBack()" type="reset" class="btn btn-sm btn-danger">
                        <i class="fa fa-ban"></i> Resetar</button>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-4 mx-auto">
            <div class="card text-white bg-primary text-center">
                <div class="card-header">
                    <strong>Você sabia?</strong>
                </div>
                <div class="card-body">
                    <blockquote class="card-bodyquote">
                        <p>Você pode usar os termos: </p>
                        <footer>
                            <b>"@nome", "@sobrenome", "@cidade"</b> ou
                            <b>"@sangue"</b>
                        </footer>
                        <br>
                        <p>para substiuir características de cada doador na hora do envio das mensagens e construir textos personalizados!</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>