<mat-sidenav-container >
  <mat-sidenav #sidenav
      mode="over"
      [(opened)]="opened"
      (opened)="events.push('open!')"
      (closed)="events.push('close!')">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button fxHide.gt-sm (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <app-breadcrumbs></app-breadcrumbs>
    </mat-toolbar>

    <div class="content" fxLayout="row wrap">
      <app-sidenav fxFlex="18" fxFlex.md="25" fxHide.lt-md></app-sidenav>
      <div fxFlex="82" fxFlex.md="75" fxFlex.lt-md="100" style="overflow-y: unset;">
        <router-outlet></router-outlet>
      </div>
    </div>
    
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
  